.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;

  position: absolute;
  width: 95px;
  height: 36px;
  left: 124px;
  top: 124px;
  border-radius: 4px;
}

.button:hover {
    cursor: pointer;
}
